@import url("button.css");
* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}
:root {
  --white: hsl(255, 100%, 100%);
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

body {
  display: block;
  justify-content: center;
  background: var(--Dark-blue);
}

.container {
  padding: 1.25rem;
  width: 15rem;
  height: 25rem;
  max-width: 350px !important;
  padding: 20px;
  margin: 50px auto;
  border-radius: 0.5rem;
}

h1,
h2 {
  text-align: center;
  font-weight: 400;
  color: var(--Desaturated-blue);
}
h2 {
  font-size: 17px;
}

.items li h3 {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  font-size: 20px;
}

.items ol {
  padding: 0;
  counter-reset: section;
}

.items li {
  margin-bottom: 15px;
  padding: 15px 20px;
  border-radius: 1rem;
  background-color: #f0f0f0;
  display: flex;
  padding: 15px 10px 5px 20px;
  justify-content: space-between;
}
.items li::before {
  counter-increment: section;
  content: counter(section) ". ";
  position: absolute;
}

.items button.delete {
  background-color: rgb(150, 53, 53);
  padding: 13px 15px;
  margin-bottom: 5px;
  margin-top: -3px;
}

.items button.delete:after {
  content: "×";
  line-height: 28px;
  background-color: rgb(197, 57, 57);
}

button {
  margin: 0 10px;
  margin: 10px 80px;
}

form {
  margin-top: 10px;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: var(--Pale-blue);
}

.items {
  padding: 50px;
  margin-top: 20px;
  border-radius: 5px;
  background: var(--Pale-blue);
}
